<main>
    <div class="contenedor">
      <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="25">
          <mat-toolbar class="titulo">Crear Poster</mat-toolbar>
          <br>
          <mat-form-field>
            <mat-label>Seleccionar Evento</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.meta">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <form [formGroup]="loginForm4" (ngSubmit)="onSubmit()" >
            <br>
            <mat-form-field>
              <mat-label>Ingresa tu Nombre del poster a crear</mat-label>
              <input matInput formControlName="titulo" name="titulo" placeholder="titulo">
            </mat-form-field>
            <br>
            <mat-form-field >
              <mat-label>Ingresa una descripción del poster</mat-label>
              <input matInput formControlName="descripcion" name="descripcion" placeholder="descripcion">
            </mat-form-field>
            <br>
              <mat-form-field >
                <mat-label>Ingresa la materia en curso</mat-label>
                <input matInput formControlName="materia" name="materia" placeholder="materia">
              </mat-form-field>
              <br>
              <mat-form-field >
                <mat-label>Ingresa la carrera en curso</mat-label>
                <input matInput formControlName="carrera" name="carrera" placeholder="carrera">
              </mat-form-field>
              <br>
              <mat-form-field >
                <mat-label>Ingresa el nombre del grupo de trabajo</mat-label>
                <input matInput formControlName="grupo" name="grupo" placeholder="grupo">
              </mat-form-field>
              <br>
              
            <button mat-raised-button type="submit" >registrar</button>
            <br> 
  
          </form>
            </mat-card>
      </div>
    </div>
  </main>