

<main>
  <div class="contenedor">
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
      <mat-card fxFlex="25">
        <mat-toolbar class="titulo">BIENVENIDOS</mat-toolbar>
        <br>
        <mat-toolbar class="tool">Iniciar Sesion</mat-toolbar>
        <form [formGroup]="loginForm2" (ngSubmit)="onSubmit()" >
          <br>
          <mat-form-field>
            <mat-label>Ingresa tu Nombre de usuario</mat-label>
            <input matInput formControlName="idUsuario" name="idUsuario" placeholder="Usuario">
          </mat-form-field>
          <br>
          <mat-form-field >
            <mat-label>Ingresa tu contraseña</mat-label>
            <input matInput formControlName="contrasena" name="contrasena" type= "password"placeholder="Contraseña">
          </mat-form-field>
          <br>
          <button mat-raised-button type="submit" >Ingresar</button>
          <mat-toolbar class="tool"> Eres Nuevo? Registrate</mat-toolbar>
          <br>
          <button mat-raised-button type="submit" (click)="navegar()">Registrarse</button>

        </form>
          </mat-card>
    </div>
  </div>
</main>