
<body class="body">
    <main>
        
        <mat-form-field>
            <mat-label>Seleccionar Poster</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.meta">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <form [formGroup]="loginForm3" (ngSubmit)="onSubmit()" >
            <div class="container">
                <div class="card">                      
                    <div class="card-footer">
                        <label class="label">Nombre Contenido </label>
                        <br>
                        <input type="text" formControlName="nombre" name="nombre" >
                        <br>
                        <label class="label">Descripcion</label>
                        <br>
                        <input type="text" formControlName="descripcion" name="descripcion" >
                        <br>
                        <label class="image-upload-container btn btn-bwm">
                            <span>Seleccionar Imagen</span>
                            <input #imageInput
                                type="file"
                                accept="image/*"
                                (change)="processFile(imageInput)">
                        </label>
                    </div>
                </div>   
            </div>
            <div *ngIf="selectedFile" class="img-preview-container">

                <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                    [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                </div>
            
                <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                <div class="img-spinning-circle"></div>
                </div>
            
                <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> 
                    Image Uploaded Succesfuly!
                    <img id="img-preview" [src]="selectedFile.src" *ngIf="selectedFile.src">
                </div>
                <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> 
                    Image Upload Failed!</div>
            </div>
        </form>
    </main>
</body>