  <div class="container-fluid" >
    <div class="row flex-x1-nowra">
      <div class="col-md-2 col-x1-2 bd-sidebar">
        <nav>
          <h1>
          <a href="">información del usuario</a>
        </h1>
        </nav>
      </div>

      <main>
      <div class="card mb-3"  style="max-width: 540px;">
        <div class="row no-gutters"  *ngFor="let afiche in listaimagenes">
          <div class="col-md-4">
            <img src="{[afiche.url]}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">tittle</h5>
              <p class="card-text">Descripción del afiche o poster</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3"  style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">título</h5>
              <p class="card-text">Descripción del afiche o poster</p>
            </div>
          </div>
        </div>
      </div>´
    </main>
    </div>
  </div>