

<!-- <app-login></app-login> -->



<head>
	<title>Poliafiches</title>
    </head>

    
        <header>
            <div class="contenedor">
            <div>
                <BR><h2 class="logotipo">FERIA DE POSTERS</h2>     
            </div>
            <img src="https://www.poli.edu.co/sites/default/files/logos/logo-poli-politecnico-grancolombiano2018.png" alt="Logo politecnico Grancolombiano">
<<<<<<< HEAD
            <nav>
                <a  >     </a>
                <a >     </a>
                <a  >    </a>
                <a >     </a>
            </nav>
=======

                <nav>
                    <a routerLink="/Posters" >Posters</a>
                    <a routerLink="/perfil">Perfil</a>
                    <a routerLink="/login" >Administrador</a>
                    <a routerLink="/registro">contacto</a>
                </nav>
>>>>>>> fd682a2e7daf1910432561568564dcadac73d576
            </div>
        </header>
<main>
    
    <router-outlet></router-outlet>

 
</main>

 <footer id="Contacto" class="footer" >
    <div >
        <p>Ingenieria de Sistemas</p>
        <p>Politecnico GranColombiano</p>
        <a href="https://www.poli.edu.co/content/estudiantes">Sitio web Politecnico Grancolombiano</a>
        
    </div>

</footer>



   
