<main>
    <div class="contenedor">
      <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="25">
          <mat-toolbar class="titulo">Crear Evento</mat-toolbar>
          <br>
          <form [formGroup]="loginForm2" (ngSubmit)="onSubmit()" >
            <br>
            <mat-form-field>
              <mat-label>Ingresa tu Nombre del evento a crear</mat-label>
              <input matInput formControlName="nombre" name="nombre" placeholder="nombre">
            </mat-form-field>
            <br>
            <mat-form-field >
              <mat-label>Ingresa una descripción del evento</mat-label>
              <input matInput formControlName="descripcion" name="descripcion" placeholder="descripcion">
            </mat-form-field>
            <br>
            <mat-form-field >
              <mat-label>Ingresa un inicio de vegencia del evento</mat-label>
              <input matInput formControlName="fechaIni" name="fechaIni" type="date" placeholder="fechaIni">
            </mat-form-field>
            <br>
            <mat-form-field >
              <mat-label>Ingresa un fin de vegencia del evento</mat-label>
              <input matInput formControlName="fechafin" name="fechafin" type="date" placeholder="fechafin">
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit" >registrar</button>
            <br> 
  
          </form>
            </mat-card>
      </div>
    </div>
  </main>