.contenedor{
    
    padding: 0%;
    margin: 0%;
    height: 120vh;
}

.main-div mat-card{
padding:0px;
}

.login-form{
padding: 20px;
}
.tool{

background: mediumblue;
color: white;
text-align: center;
border-radius:5px;

}

.espacio{
    margin: 1% 1%;
    padding: 1% ;
    border-radius: 5px;
    background-color:gray;
    color: snow;

}
.espacio button{
    margin: 1% 1%;
}
.buttonColor{
color:seashell;
background-color: royalblue;

}

.buttonColordos{
    color:seashell;
    background-color: red;
    
}


