<body>
        <main >
            <div>
                <br> bienvenido, {{currentUser.nombreUsuario}} !
                <br><button mat-button [matMenuTriggerFor]="menu">Menu</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="creaRol()">Crear Rol</button>
                  <button mat-menu-item (click)="creaPer()">Crear perfil</button>
                  <button mat-menu-item (click)="Aprobar()">Aprobar Usuarios</button>
                  <button mat-menu-item (click)="creaE()">Crear Evento</button>
                  <button mat-menu-item (click)="crearP()">Crear Poster</button>
                  <button mat-menu-item (click)="cargarP()">Cargar Contenido</button>
                  <button mat-menu-item (click)="verP()">Ver Posters</button>                
                </mat-menu>
            </div>
            <div class="Afiche-Principal">
                <div class="contenedor">
                <h3 class="tituloAfiche"> Wason</h3>
                <p class="descripcion"> Expondremos este poster del wason el cual jebfdsdbfjad ja fjbs fjbasjfjbjsdbsadbfds</p>
                <button role="button" class="button">Ver pantalla completa</button>
                
                <button role="button" class="button">Puntuar</button>
                
                </div>
            </div>

            <div class="carrusel-contenedor contenedor" >
                <div class="contenedor-titulo-controles">
                    <h3>Posters disponibles</h3>
                    <div class="indicadores">
                        <button></button>
                        <button></button>
                        <button></button>
                        <button></button>
                         <button></button>
                    </div>
                </div>

                <div class="contenedor-principal"  >
                    
                    <button role="button" id="flecha-izquierda" class="flecha-izquierda" (click)="correrizquierda()" ><i class="fas fa-angle-left"></i></button>
                   
                
                    <div class="contenedor-carrusel">
                     <div class="carrusel">

                       

                      <!--  
                          
                         <div class="poster" *ngFor='let post of listaimagenes'>
                            <img [src]= {{post}} alt="" *ngIf={{post}}>                          
                        </div>
                        
                        
                        
                        <div *ngIf="selectedFile" class="img-preview-container">  -- bloque de subida

                            <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                                [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                            </div>
                        
                            <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                            <div class="img-spinning-circle"></div>
                            </div>
                        
                            <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> 
                                Image Uploaded Succesfuly!
                                <img id="img-preview" [src]="selectedFile.src" *ngIf="selectedFile.src">
                            </div>
                            <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> 
                                Image Upload Failed!</div>
                        </div>  fin bloque de subida


                            <div class="poster">
                                <a href="http://">
                                    <img src="../../assets/images/uno.png" alt="">
                                   
                                </a>
                                <p>hola que mas</p>
                            
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/dos.png" alt="">
                            </a>
                            <p>hola que mas</p>
                            
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/tres.png" alt="">
                            </a>
                            
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/cuatro.png"  alt="">
                            </a>
                           
                        </div>
                        <div class="poster">
                            <a href="http://google.com">
                                <img src="../../assets/images/cinco.png.png" alt="">
                            </a>
                           
                        </div>
                        <div class="poster">
                            <a href="#"><img src="../../assets/images/seis.png" alt="Imagen seis"></a>
                            
                        </div>
                        <div class="poster">
                            <a href="#"><img src="../../assets/images/seven.png" alt="Imagen siete"></a>
                            
                        </div>
                        <div class="poster">
                            <a href="#"><img src="../../assets/images/ocho.png" alt="Imagen ocho"></a>
                            
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/uno.png" alt="">
                            </a>
                            <p>hola que mas</p>
                      
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/dos.png" alt="">
                            </a>
                            <p>hola que mas</p>
                        
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/tres.png" alt="">
                            </a>
                            <p>hola que mas</p>
                       
                    </div>
                    <div class="poster">
                        <a href="http://">
                            <img src="../../assets/images/uno.png" alt="">
                        </a>
                        <p>hola que mas</p>
                   
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/dos.png" alt="">
                    </a>
                    <p>hola que mas</p>
                    
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/tres.png" alt="">
                    </a>
                  
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/cuatro.png"  alt="">
                    </a>
                   
                </div>
                <div class="poster">
                    <a href="http://google.com">
                        <img src="../../assets/images/cinco.png.png" alt="">
                    </a>
                    
                </div>
                <div class="poster">
                    <a href="#"><img src="../../assets/images/seis.png" alt="Imagen seis"></a>
                   
                </div>
                <div class="poster">
                    <a href="#"><img src="../../assets/images/seven.png" alt="Imagen siete"></a>
                    
                </div>
                <div class="poster">
                    <a href="#"><img src="../../assets/images/ocho.png" alt="Imagen ocho"></a>
                  
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/uno.png" alt="">
                    </a>
                    <p>hola que mas</p>
                
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/dos.png" alt="">
                    </a>
                    <p>hola que mas</p>
                
                </div>-->

                    </div>
             </div>    
             
          <button role="button" id="flecha-derecha" class="flecha-derecha" (click)="correrderecha()"><i class="fas fa-angle-right"></i></button>
                </div>
                
            </div>

            
            
      </main>

     
        
    </body>

    
       


