<main>
  <div class="contenedor">
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
      <mat-card fxFlex="25">
      
        <mat-toolbar class="tool">REGISTRATE </mat-toolbar>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
          
          <mat-form-field>
            <mat-label>Ingresa tu Nombre de usuario</mat-label>
            <input matInput formControlName="idUsuario" placeholder=" Nombre de Usuario">
          </mat-form-field>
          <BR>
        
          <mat-form-field >
            <mat-label>Ingresa tu contraseña</mat-label>
            <input matInput formControlName="contrasena" type= "password"placeholder="Contraseña">
          </mat-form-field>
          <BR>
          <mat-form-field >
          <mat-label>Ingresa tus  Nombres</mat-label>
            <input matInput formControlName="nombres"  placeholder="Nombres Completos">
          </mat-form-field>
          <BR>
          <mat-form-field >
          <mat-label>Ingresa tus Apellidos</mat-label>
            <input matInput formControlName="apellidos" name="apellidos" placeholder="Apellidos Completos">
          </mat-form-field>
          <BR>
          <mat-form-field >
          <mat-label>Ingresa tu Correo Electronico</mat-label>
          <input matInput formControlName="correo" name="correo" placeholder="Correo Electronico">
        </mat-form-field>
        <BR>
        <mat-form-field>
            <mat-label>Elige tu rol</mat-label>
            <mat-select formControlName="rol" name="rol">
              <mat-option value="Informador"> Informador</mat-option>
              <mat-option  value="Desarrollador"> Desarrollador</mat-option>
              <mat-option  value="Verificador"> Verificador</mat-option>


            </mat-select>
          </mat-form-field> 
          <BR>
           <button mat-raised-button  type="submit" [disabled]="!loginForm.valid">Registrarse</button>
          
        </form>
          </mat-card>
    </div>
  </div>
</main>